:root {
  --main-color: #cfb002;
  --black: #000000;
  --bg: #c0c0c0;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --white: #ffffff;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", serif;
}

body {
}

.caixa-video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.caixa-video video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--main-color);
  border-bottom: var(--white);
  border: 1px solid var(--white);
}
section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.container section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 1.5rem 0;
  position: relative;
}

.container section a img {
  height: 6rem;
  border: 3px solid var(--black);
}

.container section nav a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--black);
  transition: 0.2s linear;
}

.container section nav a:hover {
  color: var(--white);
  border-bottom: 0.1rem solid var(--black);
  padding-bottom: 0.5rem;
}

.mascara {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
}

.caixa-principal {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.caixa-principal div {
  max-width: 60rem;
}

.caixa-principal div h3 {
  color: var(--white);
  font-size: 6rem;
  text-transform: uppercase;
}

.caixa-principal div p {
  font-size: 2rem;
  color: var(--white);
  font-weight: lighter;
  padding: 1rem 0;
  line-height: 1.8;
}

.botao-link {
  background-color: var(--main-color);
  cursor: pointer;
  margin-top: 2rem;
  display: inline-block;
  font-size: 1.7rem;
  color: var(--black);
  padding: 1rem 3rem;
  border: none;
  transition: 0.3s linear;
}

.caixa-principal div a:hover {
  animation: shake 0.5s linear 1;
}
/* Page Project */
.titulo {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  padding-top: 10rem;
  font-size: 4rem;
}
.projects .titulo span {
  color: var(--main-color);
}

.projects .container-projects {
  display: flex;
  align-items: center;
  background-color: var(--black);
  gap: 1.5rem;
  flex-wrap: ;
}

.projects .container-projects .img-projects {
  flex: 1 1 45rem;
}
.projects .container-projects .img-projects img {
  width: 100%;
}

.projects .container-projects .sobre-projects {
  flex: 1 1 45rem;
  padding: 2rem;
}

.projects .container-projects .sobre-projects h3 {
  font-size: 3rem;
  color: var(--white);
}

.projects .container-projects .sobre-projects p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--white);
  line-height: 1.8;
  padding: 1rem 0;
}
/*Services*/

/*About US*/

.titulo-sobre {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  padding-top: 10rem;
  font-size: 4rem;
}
.projects-sobre .titulo-sobre span {
  color: var(--main-color);
}

.projects-sobre .container-projects-sobre {
  display: flex;
  align-items: center;
  background-color: var(--black);
  gap: 1.5rem;
}

.projects-sobre .container-projects-sobre .img-projects-sobre {
  flex: 0 0 15rem;
}


.projects-sobre .container-projects-sobre .sobre-projects-sobre {
  flex: 0 0 45rem;
  padding: 2rem;
}

.projects-sobre .container-projects-sobre .sobre-projects-sobre h3 {
  font-size: 3rem;
  color: var(--main-color);
}

.projects-sobre .container-projects-sobre .sobre-projects-sobre p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--white);
  line-height: 1.8;
  padding: 1rem 0;
}



